<p style="color: green"><%= notice %></p>

<h1>Comments</h1>

<div id="comments">
  <% @comments.each do |comment| %>
    By: <%= comment.user.email if comment.user %>
    <%= render comment %>
    <p>
      <%= link_to "Show this comment", post_comment_path(@post,comment) %>
    </p>
    <p>
      <%= link_to "Add User Ratings",new_comment_user_comment_rating_path(comment) %>
    </p>
  <% end %>
</div>

<%= link_to "New comment", new_post_comment_path(@post) %>
