<%= form_with(model:[@topic,post],local: false) do |form| %>
  <div class="modal-body">
    <% if post.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-group mb-4">
      <%= form.text_field :title,class:"form-control",placeholder:"Title" %>
    </div>

    <div class="form-group mb-4">

      <%= form.text_area :body,class:"form-control",placeholder:"Body" %>
    </div>
    <div class="form-group mb-4">

      <%= form.text_field :tags,value: post.tags.map(&:name).join(","),class:"form-control",placeholder:"Tags" %>
    </div>
    <br />
    <div class="form-group mb-4">
      <%= form.label :"Cover Picture", style: "display: block" %>

      <%= form.file_field :cover_picture ,class:"form-control"%>
    </div>

    <div class="form-group mb-4">
      <%= form.text_field :topic_id ,type:"hidden"%>
    </div>
    <div>
      <%= form.text_field :user_id,value:current_user.id,type:"hidden" %>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<%#= current_user.inspect %>

<% end %>