<!--<p style="color: green"><%#= notice %></p>-->
<style>
    .loader {
        border: 5px solid #f3f3f3;
        -webkit-animation: spin 1s linear infinite;
        animation: spin 1s linear infinite;
        border-top: 5px solid #555;
        border-radius: 50%;
        width: 50px;
        height: 50px;
        position: relative;
        left:47%;
    }
    /*.loader {*/
    /*    border: 16px solid #f3f3f3; !* Light grey *!*/
    /*    border-top: 16px solid #3498db; !* Blue *!*/
    /*    border-radius: 50%;*/
    /*    width: 120px;*/
    /*    height: 120px;*/
    /*    animation: spin 2s linear infinite;*/
    /*}*/

    @keyframes spin {
        0% { transform: rotate(0deg); }
        100% { transform: rotate(360deg); }
    }
    .hide{
        display: none;
    }
</style>
<h1 class="text-center mt-4">Posts</h1>
<div class="loader hide"></div>
<div class="container col-6 mt-4">

    <div id="posts" class="row" >
        <% @posts.each do |post| %>
          <div class=" col">
            <%# if params[:topic_id].present? %>
              <%= render post %>

              <% @read=PostsUsersReadStatus.where(post_id: post.id,user_id: current_user.id).last%>
               <div class="seen">

               </div>
               <%# @read=PostsUsersReadStatus.where(post_id: post.id,user_id: current_user.id).last%>
                  <%#if @read %>
<!--                    <p>Read</p>-->
                  <%#else %>
<!--                    <p>Unread</p>-->
                  <%#end %>

          </div>
        <%#else %>

              <%#= render post %>
              <%# post.ratings.group(:star).count.each do |value,count| %>

                <%# for i in (1..value) do %>
<!--                  <span class="fa fa-star"style="color:orange"></span>-->
                <%#end %>
                <%# for i in (1..(5-value)) do %>
<!--                  <span class="fa fa-star "></span>-->
                <%#end %>
                <%#= count %>
<!--                <br />-->
              <%# end %>
<!--              <p>-->
                <%#= link_to "Show this post",post_path(post)%>
<!--              </p>-->
            <%#end %>
          </div>

        <% end %>
      <div class="col",style="text-align:center">
        <%= form_tag posts_path, method: :get do %>
           <%= date_field_tag 'search[date_from]',Date.today-2 %>
           <%= date_field_tag 'search[date_to]',Date.today %>
           <%= submit_tag "Search" %>
        <% end %>

      <div>



    </div>
  </div>
</div>
<!-- Button trigger modal -->
<!--<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">-->
<!--  Launch demo modal-->
<!--</button>-->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="newUserForm">
        <%= render "form", post: @post %>

      </div>


    </div>
  </div>
</div>
<%#= link_to "New post", params[:topic_id].present? ? new_topic_post_path(@topic) : new_post_path %>
<%= link_to "New post", params[:topic_id].present? ? new_topic_post_path(@topic) : new_post_path,class:"newbtn",data: {bs_toggle: 'modal',bs_target: '#exampleModal',remote: true} %>
<%= will_paginate @posts %>
<script>

    const f = document.querySelector('form');
    const loader=document.querySelector('.loader');
    const newbtn=document.querySelector('.newbtn');
    newbtn.addEventListener('click',function (){
        loader.classList.toggle('hide');

    });


    async function handleSubmit(event) {
        event.preventDefault();

        console.log(event.target.action);
        console.log(f.method);
        let data = new FormData(event.target);
        fetch(event.target.action, {
            method: f.method,
            body: data,
            headers: {
                'Accept': 'application/json'
            }
        }).then(response => {
            console.log(response);
            if (response.ok) {
                console.log("Form Submitted");
                document.querySelector('#exampleModal');
                alert('Post Created successfully');
                $('#exampleModal').modal('hide');
                loader.classList.toggle('hide');
                return response.json();

                // f.reset()
            } else {
                response.json().then(data => {
                    console.log(data.title[0])
                    console.log(data)
                    if (data.title[0]=="20 characters is the maximum allowed") {
                        alert("20 characters is the maximum allowed");
                        $('#exampleModal').modal('hide');
                        loader.classList.toggle('hide');
                    } else {
                        console.log("Oops! There was a problem submitting your form")
                    }
                })
            }
        }).then(data => {
            console.log(data)
        // }).catch
        // }(error=>{
        //     console.log(error)
        });
    }
    f.addEventListener("submit", handleSubmit)
</script>