<p style="color: green"><%= notice %></p>

<%= render @post %>

<div>
  <%= link_to "Edit this post", params[:topic_id].present? ? edit_topic_post_path(@topic,@post) : edit_post_path(@post) %> |
  <%= link_to "Back to posts", params[:topic_id].present? ? topic_posts_path(@topic) : posts_path %>

  <%= button_to "Destroy this post", params[:topic_id].present? ? topic_post_path(@topic,@post): post_path(@post), method: :delete %>
</div>
