
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Blog Application</a>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
        <!--        <li class="nav-item">-->
        <!--          <a class="nav-link active" aria-current="page" href="#">Topics</a>-->
        <!--        </li>-->
        <li class="nav-item ">
          <%= link_to "Topics",topics_path,class:"navbar-brand" %>
        </li>
        <li class="nav-item">

          <%= link_to "Posts",posts_path,class:"navbar-brand" %>
        </li>
        <li class="nav-item">

          <%= link_to "Sign Up",new_user_registration_path,class:"navbar-brand" %>
        </li>
        <% if !user_signed_in? %>

          <li class="nav-item">

            <%= link_to "Sign In",new_user_session_path,class:"navbar-brand" %>
          </li>
        <%end %>


        <% if user_signed_in? %>

          <li class="nav-item">

            <%= link_to "Sign Out",destroy_user_session_path,class:"navbar-brand",method: :delete %>
          </li>
        <%end %>

        <!--        <li class="nav-item">-->
        <!--          <a class="nav-link" href="#">Pricing</a>-->
        <!--        </li>-->
        <!--      </ul>-->
        <!--      <span class="navbar-text">-->
        <!--        Navbar text with an inline element-->
        <!--      </span>-->
    </div>
  </div>
</nav>